<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>RegistrarProductosServlet</display-name>
    <servlet-name>RegistrarProductosServlet</servlet-name>
    <servlet-class>servlet.RegistrarProductosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarProductosServlet</servlet-name>
    <url-pattern>/RegistrarProductosServlet</url-pattern>
  </servlet-mapping>
  <display-name>ZeusStorePagina</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarDatosServlet</display-name>
    <servlet-name>EliminarDatosServlet</servlet-name>
    <servlet-class>servlet.EliminarDatosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarDatosServlet</servlet-name>
    <url-pattern>/EliminarDatosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarProductoServlet</display-name>
    <servlet-name>EditarProductoServlet</servlet-name>
    <servlet-class>servlet.EditarProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarProductoServlet</servlet-name>
    <url-pattern>/EditarProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerfilClienteServlet</display-name>
    <servlet-name>PerfilClienteServlet</servlet-name>
    <servlet-class>servlet.PerfilClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerfilClienteServlet</servlet-name>
    <url-pattern>/PerfilClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuardarDatosClienteServlet</display-name>
    <servlet-name>GuardarDatosClienteServlet</servlet-name>
    <servlet-class>servlet.GuardarDatosClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarDatosClienteServlet</servlet-name>
    <url-pattern>/GuardarDatosClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarritoServlet</display-name>
    <servlet-name>CarritoServlet</servlet-name>
    <servlet-class>servlet.CarritoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarritoServlet</servlet-name>
    <url-pattern>/CarritoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarServlet</display-name>
    <servlet-name>BuscarServlet</servlet-name>
    <servlet-class>servlet.BuscarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarServlet</servlet-name>
    <url-pattern>/BuscarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CerrarSesion</display-name>
    <servlet-name>CerrarSesion</servlet-name>
    <servlet-class>servlet.CerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSesion</servlet-name>
    <url-pattern>/CerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuardarPedidoServlet</display-name>
    <servlet-name>GuardarPedidoServlet</servlet-name>
    <servlet-class>servlet.GuardarPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarPedidoServlet</servlet-name>
    <url-pattern>/GuardarPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuardarSugerenciaServlet</display-name>
    <servlet-name>GuardarSugerenciaServlet</servlet-name>
    <servlet-class>servlet.GuardarSugerenciaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarSugerenciaServlet</servlet-name>
    <url-pattern>/GuardarSugerenciaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarSugerenciaServlet</display-name>
    <servlet-name>EliminarSugerenciaServlet</servlet-name>
    <servlet-class>servlet.EliminarSugerenciaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarSugerenciaServlet</servlet-name>
    <url-pattern>/EliminarSugerenciaServlet</url-pattern>
  </servlet-mapping>
</web-app>